*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: black;
}

.gridindex{
    display: grid;
    grid-template-areas:'header'
                        'frase'
                        'main'
                        'frase2'
                        'Videosection'
                        'footer';
    width: 100%;
}
/* bootstrap */
/* carrusel bootstrap index */
.carousel{
    width: 70%;
    margin: 100px auto 100px;
}
.carousel img{
    height: 400px;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    margin: auto 0px;
    width: 5%;
}

/* ---Header--Index--- */
.IndexHeader{
    grid-area: 'header';
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.video{
    grid-row: 1/4;
    grid-column: 1/4;
}

.video video{
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.LogoIndex{
    display: flex;
    grid-row: 3/4;
    grid-column: 1/4;
    align-items: center;
    z-index: 100;
    padding: 20px 5px;
    align-self: flex-end;
    opacity: 75%;
}

.LogoIndex img{
    width: 90px;
    animation: rotationy 7s infinite linear;
}

@keyframes rotationy {
    from {
    transform: rotatey(0deg);
    }
    50% {
    transform: rotatey(0deg);    
    }
    to {
    transform: rotatey(359deg);
    }
}

.LogoIndex p{
    font-size: 40px;
    color: white;
    white-space: nowrap;
}


/* Index Frase */

.IndexFrase{
    grid-area: 'frase';
    color: white;
    width: 70%;
    margin:100px auto 100px;
    text-align: center;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding: 20px 100px;
}

.IndexFrase p{
    font-size: 20px;
}

.IndexFrase h2{
    font-size: 35px;
}

/* Index Main--Galleria de fotos con links */
.IndexMain{
    grid-area: 'main';
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80vh; 
    width: 70%;
    grid-gap: 30px 20px;
    margin: 50px auto;
    
}

.LinkGallery{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../img/2.jpg);
}

.LinkCasamiento{
    grid-column: 1/3;
    grid-row: 2/4;
    background-image: url(../img/10.jpg);
}

.LinkBooks{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../img/4.jpg);
}

.LinkSweet{
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url(../img/7.jpg);
}


.LinkAbout{
    grid-column: 4/5;
    grid-row: 3/4;
    background-image: url(../img/6.jpg);
}

.LinkContacto{
    grid-column: 3/5;
    grid-row: 1/3;
    background-image: url(../img/5.jpg);
    
}

.IndexMain a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    box-shadow: black 0 0 10px;
    transition: 0.8s;
}

.IndexMain a:hover{
    font-size: 50px;
    filter: none;
    transform: scale(1.1);
    z-index: 1000;
}

/* Frase debajo del main */

.IndexFrase{
    grid-area: 'frase2';
}


.VideoSection{
    grid-area: 'Videosection';
    display: flex;
    width: 70%;
    margin: 50px auto 150px;
    height: auto;
    filter: grayscale(1);
    transition: 0.8s;
}

.vid{
    width: 50%;
}

.VideoSection:hover{
    filter: none;
}
.VideoSection .VideoParrafo{
    color: white;
    margin: auto 20px;
}

.VideoSection .VideoParrafo h2{
    font-size: 35px;
}

.VideoSection .VideoParrafo p{
    font-size: 20px;
}

/* Footer */

.IndexFooter{
    grid-area: 'footer';
    display: flex;
    width: 100%;
    padding: 10px 80px;
    height: auto;
    border-top: 1px white solid;
    align-items: center;
    justify-content: space-around;
}


.IndexFooter ul{
    display: flex;
    justify-content: start;
    margin: 30px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.IndexFooter ul li{
    list-style: none;
}

.IndexFooter ul li a:hover{
    opacity: 100%;
}

.IndexFooter ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    padding: 20px;
    opacity: 50%;
    align-items: center;
}

.IndexFooter ul li img{
    width: 40px;
    margin-right: 10px;
}

.IndexFooter ul li a:hover img{
animation: vibracion 0.5s linear infinite;
}

@keyframes vibracion {
    from {
    transform: rotate(-10deg);
    }
    50% {
    transform: rotate(10deg);    
    }
    to {
    transform: rotate(-10deg);
    }
}

.IndexFooter div{
    color: white;
    padding: 0px 20px;
    margin: 40px 0px;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.IndexFooter div p{
    margin: auto 0px;
}
.IndexFooter .Logo img{
    width: 100px;
}

/* ---Nav-Nar Secundaria--- */

.NavBarSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 75%;
}

.NavBarSec ul{
    display: flex;
    justify-content: end;
    padding: 20px 30px;
    list-style: none;
}

.NavBarSec ul a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    opacity: 75%;
    padding: 5px 50px;
}

.NavBarSec img{
    width: 90px;
    animation: rotationy 7s infinite linear;
}

.NavBarSec ul a:hover{
    opacity: 100%;
}

.NavBarSec div{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 0px 40px;
}

.NavBarSec div p{
    color: white;
    margin: auto;
    font-size: 40px;
}


/* ---Gallery---Galleria de Imagenes--- */

.GalleryImgPage{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    width: 70%;
    height: 1000px;
    margin: 50px auto ;
    grid-gap: 10px 20px;
}

.GalleryImgPage span{
    background-position: center;
    background-size:cover ;
    transition: 0.8s;
}


.GalleryImgPage span:hover{
    font-size: 50px;
    filter: none;
    transform: scale(1.2);
    z-index: 1000;
}



.GalleryImgPage .img1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../img/b1.jpg);  
}

.GalleryImgPage .img2{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url(../img/b2.jpg);   
}

.GalleryImgPage .img3{
    grid-column: 1/2;
    grid-row: 2/4;
    background-image: url(../img/b3.jpg);   
}

.GalleryImgPage .img4{
    grid-column: 2/4;
    grid-row: 3/4;
    background-image: url(../img/b4.jpg);
}

.GalleryImgPage .img5{
    grid-column: 3/5;
    grid-row: 1/2;
    background-image: url(../img/b5.jpg);
}

.GalleryImgPage .img6{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../img/b6.jpg);
}

.GalleryImgPage .img7{
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(../img/b7.jpg);
}

.GalleryImgPage .img8{
    grid-column: 4/5;
    grid-row: 3/5;
    background-image: url(../img/b8.jpg);
}

.GalleryImgPage .img9{
    grid-column: 1/3;
    grid-row: 4/5;
    background-image: url(../img/b9.jpg);
}

.GalleryImgPage .img10{
    grid-column: 3/4;
    grid-row: 4/5;
    background-image: url(../img/b10.jpg);
}

/* gallery iamgenes casamiento */

.GalleryImgPage .imgc1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../img/c1.jpg);  
}

.GalleryImgPage .imgc2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../img/c2.jpg);   
}

.GalleryImgPage .imgc3{
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../img/c3.jpg);   
}

.GalleryImgPage .imgc4{
    grid-column: 2/4;
    grid-row: 3/4;
    background-image: url(../img/c4.jpg);
}

.GalleryImgPage .imgc5{
    grid-column: 3/5;
    grid-row: 1/2;
    background-image: url(../img/c5.jpg);
}

.GalleryImgPage .imgc6{
    grid-column: 2/4;
    grid-row: 2/3;
    background-image: url(../img/c6.jpg);
}

.GalleryImgPage .imgc7{
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(../img/c7.jpg);
}

.GalleryImgPage .imgc8{
    grid-column: 4/5;
    grid-row: 3/5;
    background-image: url(../img/c8.jpg);
}

.GalleryImgPage .imgc9{
    grid-column: 1/3;
    grid-row: 4/5;
    background-image: url(../img/c9.jpg);
}

.GalleryImgPage .imgc10{
    grid-column: 3/4;
    grid-row: 4/5;
    background-image: url(../img/c10.jpg);
}
/* Pagina About */

.MainAbout{
    width: 70%;
    margin: 50px auto;
    color: white;
}

.CardAbout, .CardAboutR{
    margin: 100px 0px;
}

.CardAboutR{
    text-align: right;
}

/* pagina contacto */

/* main contacto formularios */

.Contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    width: 80%;
    margin: 40px auto;
    border: none;
}

.Contacto .leyend{
    font-family: 'lato', 'sans-serif';
    font-size: 40px ;
    padding: 40px;
}

/* Form contactos */
.Formulario{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    width: 50%;
    margin: 0px auto 80px;
    height: 700px;
}

.Name{
    grid-row: 1/2;
}

.Phone{
    grid-row: 2/3;
}

.Email{
    grid-row: 3/4;
}

.Consulta{
    grid-row: 4/5;
}

.BotForm{
    grid-row: 5/6;
}

.Formulario div{
    display: flex;
    flex-direction: column;
}

.Contacto form label{
    font-family: 'lato', 'sans-serif';
    font-size: 24px;
}

.Contacto .Formulario .input1{
    padding: 5px 10px;
    width: 70%;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
}

.Contacto .Formulario .input2{
    padding: 5px 10px;
    width: 100%;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
}

/* Botones Contacto */
.Contacto .Formulario section{
    display: flex;
    justify-content: end;
}

.Contacto .Formulario .boton{
    padding: 10px;
    margin: 0px 0px 40px 20px;
    font-family: 'lato', 'sans-serif';
    font-weight: bold;
    font-size: 18px;
}

.Contacto form .boton:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}


/* ---Media Query MaxWidth 600px Movil */


@media only screen and (max-width:600px){

    
    /* ---Header--Index--- */

.video video{
    height: 40vh;
}

.LogoIndex{
    grid-column: 1/3;
    margin: 10px 20px;
}
.LogoIndex img{
    width: 60px;
}
.LogoIndex p{
    font-size: 24px;
    color: white;
}

/* --NavBar---Index--- */

.NavBarIndex{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.NavBarIndex ul{
    display: flex;
    justify-content: end;
    padding: 10px 10px;
}

.NavBarIndex ul a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    opacity: 75%;
    padding: 5px 15px;
}

.NavBarIndex ul a:hover{
    opacity: 100%;
}

/* Index Frase */

.IndexFrase{
    width: 90%;
    margin:20px auto 20px;
    border-top: none;
    border-bottom: none;
    padding: 20px 10px;
}

.IndexFrase p{
    font-size: 14px;
}

.IndexFrase h2{
    font-size: 24px;
}

/* ---Nav-Nar Secundaria--- */

.NavBarSec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.NavBarSec ul{
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: auto;
}

.NavBarSec ul a{
    font-size: 18px;
    padding: 40px;
}

.NavBarSec img{
    width: 50px;
}

.NavBarSec div{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 5px 10px;
}

.NavBarSec div p{
    color: white;
    font-size: 20px;
}

/* Index Main--Galleria de fotos con links */

.IndexMain{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 90vh; 
    width: 80%;
    grid-gap: 15px 10px;
    margin: 25px auto;
    
}

.LinkGallery{
    grid-column: 1/2;
    grid-row: 1/2;
}

.LinkCasamiento{
    grid-column: 1/3;
    grid-row: 2/3;
}

.LinkBooks{
    grid-column: 2/3;
    grid-row: 1/2;
}

.LinkSweet{
    grid-column: 1/2;
    grid-row: 3/4;
}


.LinkAbout{
    grid-column: 2/3;
    grid-row: 3/4;
}

.LinkContacto{
    grid-column: 1/3;
    grid-row: 4/5;
}

.IndexMain a{
    filter: none;
}


/* Video del Index */

.VideoSection{
    grid-area: 'Videosection';
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto 20px;
    height: auto;
    filter: none;
}

.vid{
    width: 100%;
}

.VideoSection .VideoParrafo{
    margin: 20px auto;
}

.VideoParrafo h2{
    text-align: center;

}

.VideoParrafo p{
    text-align: center;

}

.VideoSection .VideoParrafo h2{
    font-size: 25px;
}

.VideoSection .VideoParrafo p{
    font-size: 14px;
}


/* Footer */

.IndexFooter{
    flex-direction: column-reverse;
    padding: 10px 10px;
}


.IndexFooter ul{
    justify-content: space-around;
    padding: 0px;
    margin: 0px 0px;
    flex-wrap: nowrap;
}

.IndexFooter ul li{
    display: flex;
    padding: 7px;
}

.IndexFooter ul li a{
    font-size: 16px;
    padding: 10px;
}

.IndexFooter ul li img{
    width: 18px;
    margin-right: 5px;
}

.IndexFooter div{
    padding: 0px 0px;
    margin:  0px;
    font-size: 14px;
    display:flex;
    
}


.IndexFooter .Logo img{
    width: 50px;
}

/* ---Gallery---Galleria de Imagenes--- */

.GalleryImgPage{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 800px;
    margin: 40px auto ;
    grid-gap: 5px 10px;
}

.GalleryImgPage .img1{
    grid-column: 1/3;
    grid-row: 1/2;  
}

.GalleryImgPage .img2{
    grid-column: 2/3;
    grid-row: 2/3;  
}

.GalleryImgPage .img3{
    grid-column: 1/2;
    grid-row: 2/3;   
}

.GalleryImgPage .img4{
    grid-column: 2/3;
    grid-row: 4/5;
}

.GalleryImgPage .img5{
    grid-column: 3/4;
    grid-row: 1/2;
}

.GalleryImgPage .img6{
    grid-column: 1/2;
    grid-row: 4/5;
}

.GalleryImgPage .img7{
    grid-column: 1/2;
    grid-row: 3/4;
}

.GalleryImgPage .img8{
    grid-column: 3/4;
    grid-row: 4/5;
}

.GalleryImgPage .img9{
    grid-column: 3/4;
    grid-row: 2/3;
}

.GalleryImgPage .img10{
    grid-column: 2/4;
    grid-row: 3/4;
}


/* Form contactos */
.Contacto .leyend{
    font-size: 18px ;
    padding:40px 0px;
}

.Formulario{
    width: 100%;
    margin: 10px auto 0px ;
    grid-template-rows: 80px 80px 80px 200px 20px;
    height: auto ;
    margin: 0px auto 40px;
}

.Contacto form label{
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
}

.Contacto .Formulario .input1{
    padding: 5px 10px;
    font-size: 12px;
}

.Contacto .Formulario .input2{
    padding: 5px 10px;
    font-size: 12px;
}

/* Botones Contacto */
.Contacto .Formulario section{
    display: flex;
    justify-content: end;
}

.Contacto .Formulario .boton{
    padding: 2px 5px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
}

/* carrusel bootstrap index */
.carousel{
    width: 90%;
    margin: 50px auto 50px;
}
.carousel img{
    height: 200px;
}

.carousel-control-prev, .carousel-control-next {
    margin: auto 0px;
    width: 10%;
}

.blackdiv{
    height: 100px;
}

.CardAboutR{
    flex-direction: column-reverse;
}

.MainAbout{
    width: 95%;
    margin: 25px auto;
}

.CardAbout, .CardAboutR{
    margin: 30px 0px;
    text-align: center;
}
}

